.aboutContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 15rem;
	margin: 0 5rem;
	flex-wrap: wrap;
}

.aboutTextContainer {
	max-width: 600px;

	font-size: min(24px, 3vw);
	text-align: justify;
	text-justify: inter-word;
}

.aboutImagesContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
