.aboutContainer {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	gap: 4rem;
	flex-wrap: wrap;
}

.aboutTextContainer {
	max-width: 600px;

	font-size: var(--text-size-sm);
	text-align: justify;
	text-justify: inter-word;
	line-height: 1.75;

}

.aboutTextContainer p {
	margin-bottom: 1.5rem; 
}

.aboutTextContainerLink {
	font-weight: 600; 

}

.aboutImagesContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 3rem;
}

.aboutTextName {
	font-size: var(--text-size-ml);
	font-weight: 500;
}

.aboutTextContainer > p > span {
	transition: color 0.3s ease-in-out;
}

.aboutIconsTitleWrapper {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}

.aboutIconsTitleWrapper span {
	display: inline-block;
	width: 3px;
	height: 100px;

	margin-right: 2rem;

	transition: background-color 0.3s ease-in-out;
}

.aboutIconsTitleContainer {
	width: 100%;
}

.aboutIconsTitle {
	font-size: var(--text-size-ml);

	margin-bottom: 1.5rem;
}

.aboutIconsContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: var(--border-radius-m);
	box-shadow: var(--box-shadow-button);
	background-color: var(--card-background-color);
}

.aboutIcon {
	margin: 1rem;
}

@media (max-width: 920px) {
	/* styles to apply when width is less than 920px */
	.aboutContainer {
		margin: 0 2.5rem;
	}
}

@media (max-width: 720px) {
	/* styles to apply when width is less than 720px */
	.aboutContainer {
		gap: 5rem;
		margin: 0;
	}

	.aboutTextContainer {
		font-size: 16px;
	}

	.aboutIconsContainer {
		flex-wrap: wrap;
	}

	.aboutIconsTitle {
		font-size: var(--text-size-m);
	}

	.aboutTextName {
		font-size: var(--text-size-ml);
	}
}
