.settingsIconContainer {
	display: flex;
	align-items: center;
	justify-content: center;
}

.settingsIcon {
	width: 50px;

	transition: all 0.3s ease-in-out;
}

.settingsIcon:hover {
	cursor: pointer;
	scale: 1.25;
	rotate: 90deg;
}

.pickerContainer {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.colorPickerWrapper {
	position: absolute;
	top: 6rem;
	right: 1.25rem;

	transition: all 0.3s ease-in-out;

	scrollbar-width: none; /* hide scrollbar for Firefox and Edge */
}

/* Hide scrollbar for Chrome and Safari */
.colorPickerWrapper::-webkit-scrollbar {
	display: none;
}

.colorPickerContainer {
	padding: 1rem;
}
