.toggleWrapper {
	overflow: hidden;
}

.toggleWrapper input {
	position: absolute;
	left: -99em;
}

.toggle {
	cursor: pointer;
	display: inline-block;
	position: relative;
	width: 54px;
	height: 30px;
	background-color: #b8e8fe;
	border-radius: 50px;
	transition: background-color 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.toggle__handler {
	display: inline-block;
	position: relative;
	z-index: 1;
	top: 2px;
	left: 2px;
	width: 26px;
	height: 26px;
	background-color: #ffcf96;
	border-radius: 50px;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
	transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	transform: rotate(-45deg);
}
.toggle__handler .crater {
	position: absolute;
	background-color: #e8cda5;
	opacity: 0;
	transition: opacity 200ms ease-in-out;
	border-radius: 100%;
}
.toggle__handler .crater_1 {
	top: 11px;
	left: 6px;
	width: 2px;
	height: 2px;
}
.toggle__handler .crater_2 {
	top: 17px;
	left: 13px;
	width: 3px;
	height: 3px;
}
.toggle__handler .crater_3 {
	top: 6px;
	left: 15px;
	width: 4px;
	height: 4px;
}

.star {
	position: absolute;
	background-color: #ffffff;
	transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
	border-radius: 50%;
}

.star_1 {
	top: 6px;
	left: 21px;
	z-index: 0;
	width: 18px;
	height: 2px;
}

.star_2 {
	top: 11px;
	left: 17px;
	z-index: 1;
	width: 18px;
	height: 2px;
}

.star_3 {
	top: 16px;
	left: 24px;
	z-index: 0;
	width: 18px;
	height: 2px;
}

.star_4,
.star_5,
.star_6 {
	opacity: 0;
	transition: all 300ms 0 cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.star_4 {
	top: 10px;
	left: 7px;
	z-index: 0;
	width: 1px;
	height: 1px;
	transform: translate3d(2px, 0, 0);
}

.star_5 {
	top: 19px;
	left: 10px;
	z-index: 0;
	width: 2px;
	height: 2px;
	transform: translate3d(2px, 0, 0);
}

.star_6 {
	top: 22px;
	left: 17px;
	z-index: 0;
	width: 1px;
	height: 1px;
	transform: translate3d(2px, 0, 0);
}

input:checked + .toggle {
	background-color: #445c7f;
}
input:checked + .toggle:before {
	color: #445c7f;
}
input:checked + .toggle:after {
	color: #ffffff;
}
input:checked + .toggle .toggle__handler {
	background-color: #ffe5b5;
	transform: translate3d(24px, 0, 0) rotate(0);
}
input:checked + .toggle .toggle__handler .crater {
	opacity: 1;
}
input:checked + .toggle .star_1 {
	width: 2px;
	height: 2px;
}
input:checked + .toggle .star_2 {
	width: 4px;
	height: 4px;
	transform: translate3d(-5px, 0, 0);
}
input:checked + .toggle .star_3 {
	width: 2px;
	height: 2px;
	transform: translate3d(-7px, 0, 0);
}
input:checked + .toggle .star_4,
input:checked + .toggle .star_5,
input:checked + .toggle .star_6 {
	opacity: 1;
	transform: translate3d(0, 0, 0);
}
input:checked + .toggle .star_4 {
	transition: all 300ms 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
input:checked + .toggle .star_5 {
	transition: all 300ms 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
input:checked + .toggle .star_6 {
	transition: all 300ms 400ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

@media (max-width: 720px) {
	/* styles to apply when width is less than 720px */
	.toggleWrapper {
		scale: 0.75;
	}
}
