.footer {
  width: 100%;

  z-index: 999;
}

.footerAbsolute {
  margin: 1rem 2rem;

  background: var(--card-background-color);
  border-radius: var(--border-radius-l);
}

.footerWrapper {
  padding: 1rem 2rem;
}

.footerContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 1.5rem;
}

@media (max-width: 720px) {
  /* styles to apply when width is less than 720px */
  .footerContainer {
    flex-direction: column;
  }
}
