.headerWrapper {
	position: -webkit-sticky; /* Required for WebKit-based browsers */
	position: sticky; /* Standard syntax */
	top: 1rem;
	margin: 0 2rem;

	z-index: 999;

	background: var(--card-background-color);
	border-radius: var(--border-radius-l);
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 1rem 2rem;
}

.navbar {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2rem;
	padding: 0.75rem 1rem;
	border-radius: var(--border-radius-m);

	background: var(--background-nav);
	border: var(--border-nav);
}

.ulNavbar {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

.navItem {
	font-size: var(--text-size-s);
}

.navItem a {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0.5rem;

	transition: all 0.3s ease-in-out;
}

.navItemBar {
	display: inline-block;
	margin-top: 0.25rem;
	height: 2px;

	transition: all 0.3s ease-in-out;
}

.buttonColorPickerContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

.buttonCV {
	white-space: nowrap;

	padding: 1rem;
	margin: 1rem;

	cursor: pointer;

	transition: all 0.3s ease-in-out;

	display: flex;
	align-items: center;
	justify-content: center;
}

.imageButtonCV {
	margin-left: 1rem;
}

.menuIconContainer {
	display: none;
}

.menuIcon {
	display: none;
}

@media (max-width: 920px) {
	/* styles to apply when width is less than 920px */
	.headerWrapper {
		margin: 0 1rem;
	}

	.header {
		padding: 1rem 1.5rem;
	}

	.navbarContainer {
		border-radius: 0;
		box-shadow: none;
		background-color: transparent;
	}

	.navbar {
		border-radius: 0;
		background: none;
		border: none;
		padding: 0;
	}

	.ulNavbar {
		flex-direction: column;
		justify-content: space-around;
		gap: 0;

		position: absolute;
		top: 4.5rem;

		transition: all 0.3s ease-in-out;

		/* hide scrollbar for Firefox and Edge */
		scrollbar-width: none;

		border-radius: var(--border-radius-m);

		background: var(--background-nav);
		/* border: var(--border-nav); */
	}

	/* Hide scrollbar for Chrome and Safari */
	.ulNavbar::-webkit-scrollbar {
		display: none;
	}

	.menuIconContainer {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.menuIcon {
		display: inline-block;
		width: 50px;

		cursor: pointer;

		transition: all 0.3s ease-in-out;
	}

	.menuIcon:hover {
		rotate: 90deg;
	}

	.navItem a {
		padding: 0 1rem;
	}
}

@media (max-width: 720px) {
	/* styles to apply when width is less than 720px */
	.headerWrapper {
		margin: 0 0.5rem;
	}

	.header {
		padding: 1rem;
	}

	.ulNavbar {
		left: -1rem;

		margin-top: 0.75rem;
	}

	.navbarContainer {
		padding-left: 0.5rem;
	}
}
