.nameHeader {
	text-transform: uppercase;
	font-size: var(--text-size-xxl);
	font-weight: 900;
	letter-spacing: 0.5rem;

	padding: 1rem;
}

.nameHeaderTextContainer {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-around;
}

.spanTitle {
	letter-spacing: 1rem;

	transition: color 0.3s ease-in-out;
}

.subtitleHeader {
	font-size: var(--text-size-l);
	font-weight: 600;
	padding: 1rem;
	text-transform: capitalize;

	align-self: flex-end;

	display: flex;
	align-items: flex-end;
	justify-content: flex-start;
}

.subtitleHeader span {
	display: inline-block;
	margin-right: 1rem;
	height: 50px;
	width: 3px;

	transition: background-color 0.3s ease-in-out;
}

.headerContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 5rem;
	margin: 0 5rem;
}

.profileImageBackground {
	clip-path: circle();
	width: 500px;
	height: 500px;
	border-radius: var(--border-radius-full);

	transition: background-color 0.3s ease-in-out;

	display: flex;
	align-items: center;
	justify-content: center;

	width: 100%;

	position: relative;
}

.profileImageBackground .profileImage {
	object-fit: contain;
	width: 100% !important;
	position: relative !important;
	height: unset !important;
}

@media (max-width: 920px) {
	/* styles to apply when width is less than 920px */
	.headerContainer {
		flex-direction: column;
		margin: 0;
	}
}

@media (max-width: 720px) {
	/* styles to apply when width is less than 720px */
	.nameHeader {
		font-size: var(--text-size-l);
	}

	.subtitleHeader {
		font-size: var(--text-size-m);
	}

	.subtitleHeader span {
		height: 30px;
	}

	.profileImageContainer {
		width: 300px;
		height: 300px;
	}
}
