.nameHeader {
	text-transform: uppercase;
	font-size: min(72px, 6vw);
	letter-spacing: 0.25rem;

	padding: 1rem;
}

.nameHeaderTextContainer {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-around;
}

.spanTitle {
	transition: color 0.3s ease-in-out;
}

.subtitleHeader {
	font-size: min(36px, 3vw);
	padding: 1rem;
	text-transform: capitalize;

	align-self: flex-end;

	display: flex;
	align-items: flex-end;
	justify-content: flex-start;
}

.subtitleHeader span {
	display: inline-block;
	margin-right: 1rem;
	height: min(50px, 4.5vw);
	width: 3px;

	transition: background-color 0.3s ease-in-out;
}

.headerContainer {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 10rem;
	margin: 0 5rem;
}

.profileImageContainer {
	clip-path: circle();
	width: min(500px, 50vw);
	height: min(500px, 50vw);
	background: #fff;

	overflow: visible;
}

.profileImageBackground {
	clip-path: circle();
	width: inherit;
	height: inherit;
	scale: 0.935;

	transition: background-color 0.3s ease-in-out;

	display: flex;
	align-items: center;
	justify-content: center;

	width: 100%;
}

.profileImageBackground > div {
	position: unset !important;
}

.profileImageBackground .profileImage {
	object-fit: contain;
	width: 100% !important;
	position: relative !important;
	height: unset !important;
}
