.layout {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	min-height: 100vh;
}

.layoutContent {
	flex: 1;
	width: 100%;

	display: flex;
	align-items: center;
	justify-content: center;
}
