.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100px;

	position: -webkit-sticky; /* Required for WebKit-based browsers */
	position: sticky; /* Standard syntax */
	top: 0;

	padding: 1rem 2rem;

	background: linear-gradient(
		0deg,
		rgba(0, 0, 0, 0) 0%,
		rgba(0, 0, 0, 1) 100%
	);
	z-index: 999;
}

.navbarContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2rem;

	position: relative;
}

.ulNavbar {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

.navItem {
	font-size: 18px;
}

.navItem a {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0.5rem;

	transition: all 0.3s ease-in-out;
}

.navItemBar {
	display: inline-block;
	margin-top: 0.25rem;
	height: 2px;

	transition: all 0.3s ease-in-out;
}

.navItem a:hover {
	scale: 1.1;
}

.logoContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;

	gap: 0.5rem;
}

.logoContainer span {
	font-size: 38px;
}

.logoSpan {
	font-weight: 700;
}

.buttonColorPickerContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
}

.buttonCV {
	font-size: 20px;
	white-space: nowrap;

	padding: 1rem;
	margin: 1rem;
	border-radius: 10px;

	cursor: pointer;

	transition: all 0.3s ease-in-out;
}

.buttonCV:hover {
	scale: 1.25;

	font-weight: 600;
}

.menuIconContainer {
	display: none;
}

.menuIcon {
	display: none;
}

@media (max-width: 920px) {
	/* styles to apply when width is less than 920px */
	.navbarContainer {
		gap: 0.5rem;
	}

	.ulNavbar {
		flex-direction: column;
		align-items: flex-start;

		position: absolute;
		top: 4.5rem;

		transition: all 0.3s ease-in-out;

		scrollbar-width: none; /* hide scrollbar for Firefox and Edge */
	}

	/* Hide scrollbar for Chrome and Safari */
	.ulNavbar::-webkit-scrollbar {
		display: none;
	}

	.menuIconContainer {
		display: flex;
		align-items: center;
		justify-content: center;

		width: 62.5px;
		margin: 0.5rem;
	}

	.menuIcon {
		display: inline-block;
		width: 50px;

		cursor: pointer;

		transition: all 0.3s ease-in-out;
	}

	.menuIcon:hover {
		scale: 1.25;
	}

	.logoContainer {
		display: none;
	}
}
