.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;

	position: -webkit-sticky; /* Required for WebKit-based browsers */
	position: sticky; /* Standard syntax */
	top: 0;

	padding: 1rem 2rem;

	z-index: 999;
}

.navbarContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2rem;

	padding: 0.75rem 1rem;

	position: relative;

	border-radius: 20px;
	box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.5),
		5px 5px 10px rgba(0, 0, 0, 0.5);
	background-color: #f0f0f0;
}

.ulNavbar {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

.navItem {
	font-size: 18px;
	color: black;
}

.navItem a {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0.5rem;

	transition: all 0.3s ease-in-out;
}

.navItemBar {
	display: inline-block;
	margin-top: 0.25rem;
	height: 2px;

	transition: all 0.3s ease-in-out;
}

.navItem a:hover {
	scale: 1.25;
}

.buttonColorPickerContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

.buttonCV {
	font-size: 20px;
	white-space: nowrap;

	padding: 1rem;
	margin: 1rem;
	border-radius: 10px;

	cursor: pointer;

	transition: all 0.3s ease-in-out;

	display: flex;
	align-items: center;
	justify-content: center;
}

.imageButtonCV {
	margin-left: 1rem;
}

.buttonCV:hover {
	scale: 1.1;

	font-weight: 600;
}

.menuIconContainer {
	display: none;
}

.menuIcon {
	display: none;
}

@media (max-width: 920px) {
	/* styles to apply when width is less than 920px */
	.navbarContainer {
		border-radius: 0;
		box-shadow: none;
		background-color: transparent;
	}

	.ulNavbar {
		flex-direction: column;
		justify-content: space-around;
		gap: 0;

		position: absolute;
		top: 4.5rem;

		transition: all 0.3s ease-in-out;

		scrollbar-width: none; /* hide scrollbar for Firefox and Edge */

		border-radius: 20px;
		box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.5),
			5px 5px 10px rgba(0, 0, 0, 0.5);
		background-color: #f0f0f0;
	}

	/* Hide scrollbar for Chrome and Safari */
	.ulNavbar::-webkit-scrollbar {
		display: none;
	}

	.menuIconContainer {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.menuIcon {
		display: inline-block;
		width: 50px;

		cursor: pointer;

		transition: all 0.3s ease-in-out;
	}

	.menuIcon:hover {
		scale: 1.25;
	}

	.navItem a {
		padding: 0 1rem;
	}
}

@media (max-width: 720px) {
	/* styles to apply when width is less than 720px */
	.navbar {
		padding: 0.5rem 1rem;
	}

	.ulNavbar {
		left: 0;

		margin-top: 0.75rem;
	}

	.navbarContainer {
		padding-left: 0.5rem;
	}

	.buttonCV {
		font-size: 14px;

		margin: 0;
	}
}
