.projectsWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 3rem;
	margin: 0 5rem;
	flex-wrap: wrap;
}

.projectLink {
	cursor: pointer;

	transition: all 0.3s ease-in-out;
}

.projectContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.projectTitle {
	align-self: flex-end;

	margin-bottom: 1rem;
	margin-right: 0.5rem;
}

.projectDesc {
	align-self: flex-start;

	margin-top: 1rem;
	margin-left: 0.5rem;
}

.projectImageContainer {
	width: 500px;
}

.profileImageBackground {
	width: inherit;
	height: inherit;

	display: flex;
	align-items: center;
	justify-content: center;

	width: 100%;

	position: relative;
}

.projectImageContainer .projectImage {
	object-fit: contain;
	width: 100% !important;
	position: relative !important;
	height: unset !important;
}

.projectImage {
	opacity: 0.75;

	transition: all 0.3s ease-in-out;
}

.projectLink:hover .projectImage {
	opacity: 1;
}

@media (max-width: 720px) {
	/* styles to apply when width is less than 720px */
	.projectImageContainer {
		width: 275px;
	}
}
