.section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	padding-top: 10rem;
	margin-top: 10rem;
}

.sectionTitle {
	font-size: 56px;
	text-transform: uppercase;
	letter-spacing: 0.5rem;

	margin: 5rem 0;
}

@media (max-width: 920px) {
	/* styles to apply when width is less than 920px */
	.section {
		padding-top: 5rem;
		margin-top: 5rem;
	}

	.sectionTitle {
		margin: 2.5rem 0;
	}
}
