.cardWrapper {
	margin: 2.5rem 2rem;
	border-radius: var(--border-radius-l);
}

.cardWrapper:hover {
	box-shadow: var(--box-shadow-card-hover);
	transition: box-shadow 0.5s ease;
}

.cardContainer {
	padding: 2rem 2.5rem 2.5rem 2.5rem;
	border-radius: var(--border-radius-l);
	background-color: var(--card-background-color);
	box-shadow: var(--box-shadow-card);
}

.section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.sectionWrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 3rem;
}

.sectionTitleContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2.5rem;
}

.sectionTitle {
	font-size: var(--text-size-xml);
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.5rem;

	transition: color 0.3s ease-in-out;
}

@media (max-width: 920px) {
	/* styles to apply when width is less than 920px */
	.sectionTitle {
		margin: 2.5rem 0;
	}
}

@media (max-width: 720px) {
	/* styles to apply when width is less than 720px */
	.cardWrapper {
		margin: 2.5rem 1rem;
	}

	.cardContainer {
		padding: 2rem 1rem;
	}

	.sectionWrapper {
		gap: 2.5rem;
	}

	.sectionTitleContainer > img {
		display: none;
	}

	.sectionTitle {
		font-size: var(--text-size-l);
	}
}
