.section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	padding-top: 10rem;
	margin: 10rem 0;
}

.sectionTitle {
	font-size: min(56px, 5vw);
	text-transform: uppercase;
	letter-spacing: 0.5rem;

	margin: 5rem 0;
}
