.settingsIconContainer {
	display: flex;
	align-items: center;
	justify-content: center;
}

.settingsIcon {
	width: 50px;

	transition: all 0.3s ease-in-out;
}

.settingsIcon:hover {
	cursor: pointer;
	rotate: 90deg;
}

.settingsWrapper {
	position: absolute;
	top: 6rem;
	right: 1.25rem;

	transition: all 0.3s ease-in-out;

	scrollbar-width: none; /* hide scrollbar for Firefox and Edge */
}

/* Hide scrollbar for Chrome and Safari */
.settingsWrapper::-webkit-scrollbar {
	display: none;
}

.settingsContainer {
	padding: 1rem;

	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
	gap: 2.5rem;
}

.languageSelectorContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1.5rem;
	padding: 0.5rem 1.5rem 0.75rem 1.5rem;
	border-radius: var(--border-radius-m);

	background: var(--background-nav);
	border: var(--border-nav);
}

.languageSelectorButton {
	display: flex;
	align-items: center;
	justify-content: center;

	cursor: pointer;

	padding: 0.5rem;

	border-bottom: solid 3px;

	transition: all 0.3s ease-in-out;
}

.languageSelectorButtonLabel {
	font-size: var(--text-size-s);
	color: var(--text-color);

	margin-left: 0.5rem;

	transition: all 0.3s ease-in-out;
}

@media (max-width: 920px) {
	/* styles to apply when width is less than 920px */
	.settingsWrapper {
		right: 0;
	}
}

@media (max-width: 720px) {
	/* styles to apply when width is less than 720px */
	.settingsContainer {
		gap: 1.75rem;
	}

	.settingsMenuContainer {
		padding-left: 0.5rem;
	}

	.languageSelectorContainer {
		margin-right: 0.5rem;
	}
}
