.settingsIconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.settingsIcon {
  width: 50px;

  transition: all 0.3s ease-in-out;
}

.settingsIcon:hover {
  cursor: pointer;
  scale: 1.25;
  rotate: 90deg;
}

.settingsContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.settingsWrapper {
  position: absolute;
  top: calc(100% + 0.5rem);
  right: 0;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 2.5rem;

  transition: all 0.3s ease-in-out;

  scrollbar-width: none; /* hide scrollbar for Firefox and Edge */
}

/* Hide scrollbar for Chrome and Safari */
.settingsWrapper::-webkit-scrollbar {
  display: none;
}

.colorPickerContainer {
  margin-right: 0.75rem;
}

.languageSelectorContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;

  padding: 0.5rem 1.5rem 0.75rem 1.5rem;

  border-radius: 20px;
  background-color: var(--card-background-color);
}

.languageSelectorButton {
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  padding: 0.5rem;

  border-bottom: solid 3px;

  transition: all 0.3s ease-in-out;
}

.languageSelectorButtonLabel {
  color: var(--text-color);
  font-size: 14px;

  margin-left: 0.5rem;

  transition: all 0.3s ease-in-out;
}

@media (max-width: 920px) {
  /* styles to apply when width is less than 920px */
  .settingsWrapper {
    top: calc(100% + 0.5rem);
    right: 0;
  }
}
