.cardWrapper {
	margin: 5rem;
	border-radius: var(--border-radius-l);
}

.cardWrapper:hover {
	box-shadow: var(--box-shadow-card-hover);
	transition: box-shadow 0.5s ease;
}

.cardContainer {
	padding: 2rem;
	border-radius: var(--border-radius-l);
	background-color: var(--card-background-color);
	box-shadow: var(--box-shadow-card);
}
