.settingsIcon {
	width: 50px;
	margin-left: 0.5rem;

	transition: all 0.3s ease-in-out;
}

.settingsIcon:hover {
	cursor: pointer;
	scale: 1.25;
	rotate: 90deg;
	margin-left: 1rem;
}

.colorPickerContainer {
	display: flex;
	align-items: center;
	justify-content: center;

	padding: 0.5rem;
}
