.settingsIcon {
	width: 50px;
	margin-left: 0.5rem;

	transition: all 0.3s ease-in-out;
}

.settingsIcon:hover {
	cursor: pointer;
	scale: 1.25;
	rotate: 90deg;
	margin-left: 1rem;
}

.colorPickerWrapper {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 100%;

	position: absolute;
	top: 0;
}

.colorPickerContainer {
	display: flex;
	align-items: center;
	justify-content: center;

	padding: 1.5rem;
}

.listColorPicker {
	display: flex;
	align-items: center;
	justify-content: center;

	transition: all 0.3s ease-in-out;
}

.listColorPickerItemLink {
	display: inline-block;

	margin-left: 0.5rem;
}

.listColorPickerItem {
	clip-path: circle();
	width: 25px;
	height: 25px;

	transition: all 0.3s ease-in-out;
}

.listColorPickerItem:hover {
	cursor: pointer;
	scale: 1.25;

	margin-left: 0.5rem;
	margin-right: 0.5rem;
}
