:root {
	--border-radius: 16px;
}

.light-theme {
	--background-color: #f7f2f2;
	--text-color: #0d1117;
}

.dark-theme {
	--background-color: #090c10;
	--text-color: #f0f2f8;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	min-height: 100vh;
	max-width: 100vw;
}

main {
	position: relative;
}

button {
	border: none;
	background: transparent;
}

a {
	color: inherit;
	text-decoration: none;
}

ul {
	list-style-type: none; /* Remove bullets */
}

input,
textarea {
	border: none;
	outline: none;
	font-family: inherit;
	font-size: inherit;
	padding: 0;
	margin: 0;
	/* Add any additional styles you want here */
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--background-color);
	color: var(--text-color);
}
