:root {
	--box-shadow-transition: box-shadow 0.2s ease-out 0s;
	--box-shadow-card-hover: rgba(100, 100, 111, 0.1) 0px 5px 24px 0px;
	--border-radius-s: 16px;
	--border-radius-m: 32px;
	--border-radius-l: 64px;
	--border-radius-full: 50%;
	--text-size-s: 14px;
	--text-size-m: 22px;
	--text-size-ml: 32px;
	--text-size-l: 36px;
	--text-size-xl: 48px;
	--text-size-xml: 56px;
	--text-size-xxl: 72px;
}

::-webkit-scrollbar {
	width: 20px;
}

::-webkit-scrollbar-thumb {
	border-radius: var(--border-radius-s);
}

::-webkit-scrollbar-track {
	border-radius: var(--border-radius-s);
}

.light-theme {
	--background-color: #f7f2f2;
	--card-background-color: #fff;
	--text-color: #0d1117;
	--box-shadow-button: rgb(240, 242, 248) 0px 0px 0px 2px;
	--box-shadow-button-hover: rgb(240, 242, 248) 0px 0px 0px 5px;
	--background-nav: #ede9e9;
	--border-nav: none;
	--box-shadow-card: transparent 0px 0px 0px 2px inset;
}

/* Set the scrollbar width and color */
.light-theme::-webkit-scrollbar {
	background-color: #f7f2f2;
}

/* Set the scrollbar thumb color */
.light-theme::-webkit-scrollbar-thumb {
	background-color: #fff;
}

/* Set the scrollbar track color */
.light-theme::-webkit-scrollbar-track {
	background-color: #f7f2f2;
}

.dark-theme {
	--background-color: #090c10;
	--card-background-color: #0d1117;
	--text-color: #f0f2f8;
	--box-shadow-button: rgb(48, 54, 61) 0px 0px 0px 2px;
	--box-shadow-button-hover: rgb(48, 54, 61) 0px 0px 0px 5px;
	--background-nav: #0d1117;
	--border-nav: 2px solid rgb(48, 54, 61);
	--box-shadow-card: rgb(48, 54, 61) 0px 0px 0px 2px inset;
}

/* Set the scrollbar width and color */
.dark-theme::-webkit-scrollbar {
	background-color: #090c10;
}

/* Set the scrollbar thumb color */
.dark-theme::-webkit-scrollbar-thumb {
	background-color: #0d1117;
}

/* Set the scrollbar track color */
.dark-theme::-webkit-scrollbar-track {
	background-color: #090c10;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	min-height: 100vh;
	max-width: 100vw;
}

main {
	position: relative;
}

button {
	border: none;
	background: transparent;
}

a {
	color: inherit;
	text-decoration: none;
}

ul {
	list-style-type: none; /* Remove bullets */
}

input,
textarea {
	border: none;
	outline: none;
	font-family: inherit;
	font-size: inherit;
	padding: 0;
	margin: 0;
	/* Add any additional styles you want here */
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--background-color);
	color: var(--text-color);
}

.button {
	font-size: var(--text-size-s);
	background-color: var(--card-background-color);
	color: var(--text-color);
	padding: 1rem;
	border-radius: var(--border-radius-m);
	cursor: pointer;

	box-shadow: var(--box-shadow-button);
	transition: var(--box-shadow-transition);
}

.button:hover {
	box-shadow: var(--box-shadow-button-hover);
}
