.nameHeader {
	text-transform: uppercase;
	font-size: 6vw;
}

.headerWrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
}

.headerContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 7.5rem;
	margin-right: 5rem;
	margin-left: 5rem;
}

.profileImageContainer {
	clip-path: circle();
	width: 400px;
	height: 400px;
	background: #fff;
}

.profileImage {
	clip-path: circle();
	width: 400px;
	height: 400px;
	background: #ddd;
	scale: 0.925;
}
