.anchor {
  width: fit-content;

  padding: 0.5rem;
}

.iconButton {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  margin: 0.25rem 0.5rem 0.25rem 0.25rem;
}

.iconButton > p {
  margin-right: 0.5rem;
}

.arrowLink {
  width: 0;
  overflow: hidden;

  transition: width 0.3s ease-in-out;

  scrollbar-width: none; /* hide scrollbar for Firefox and Edge */
}

/* Hide scrollbar for Chrome and Safari */
.arrowLink::-webkit-scrollbar {
  display: none;
}

.anchor:hover .arrowLink {
  width: 20px;
  overflow: auto;
}
